In [4]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:300px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import Pandas

In [6]:
import pandas as pd

## Read in the dataset

Titanic Survival Dataset from https://www.kaggle.com/c/titanic/data

In [7]:
data = pd.read_csv('data-titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Missing Records

### Find out total records in the dataset

In [8]:
data.shape

(891, 12)

### Number of valid records per column

In [9]:
data.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

## Dropping missing records

### Drop all records that have  one or more missing values

In [10]:
data_missing_dropped = data.dropna()
data_missing_dropped.shape

(183, 12)

### Drop only those rows that have all records missing

In [11]:
data_all_missing_dropped = data.dropna(how="all")
data_all_missing_dropped.shape

(891, 12)

## Fill in missing data

### Fill in missing data with zeros

In [10]:
data_filled_zeros =  data.fillna(0)
data_filled_zeros.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            891
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          891
Embarked       891
dtype: int64

### Fill in missing data with a mean of the values from other rows

In [12]:
data_filled_in_mean = data.copy()
data_filled_in_mean.Age.fillna(data.Age.mean(), inplace=True)
data_filled_in_mean.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            891
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64