In [6]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:300px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import Pandas

In [8]:
import pandas as pd

## Dataset

In [9]:
data = pd.read_csv('data-titanic.csv', index_col=3)
data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

## Remove column(s)

### Remove one column

In [10]:
data.drop('Ticket', axis=1, inplace=True)

In [11]:
data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
Name,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,8.0500,NaN,S

### Remove more than one column

In [12]:
data.drop(['Parch', 'Fare'], axis=1, inplace=True)

In [13]:
data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Cabin,Embarked
Name,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,NaN,S

## Remove row(s)

In [15]:
data.drop(['Braund, Mr. Owen Harris', 'Heikkinen, Miss. Laina'], inplace=True)

ValueError: labels ['Braund, Mr. Owen Harris' 'Heikkinen, Miss. Laina'] not contained in axis

In [25]:
data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Cabin,Embarked
Name,,,,,,,,
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,C85,C
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,E46,S