In [1]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:400px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

## Import Pandas

In [2]:
import pandas as pd

## Renaming Columns

## Rename columns while reading the data

In [5]:
list_columns = ['Date', 'Region ID', 'Region Name', 'State',
             'City', 'County', 'Size Rank','Price']
data = pd.read_csv('data-zillow.csv', names = list_columns)
data.head()

,Date,Region ID,Region Name,State,City,County,Size Rank,Price
0,Date,RegionID,RegionName,State,Metro,County,SizeRank,Price
1,2017-05-31,6181,New York,NY,New York,Queens,0,672400
2,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
3,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
4,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300

## Rename columns using rename method

### Read in the dataset again

In [4]:
data = pd.read_csv('data-zillow.csv')
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Price
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

### Rename

In [7]:
data.columns

Index(['Date', 'Region ID', 'Region Name', 'State', 'City', 'County',
       'Size Rank', 'Price'],
      dtype='object')

In [8]:
data.rename(columns={'RegionName':'Region', 'Metro':'City'}, inplace=True)

In [9]:
data.columns

Index(['Date', 'Region ID', 'Region Name', 'State', 'City', 'County',
       'Size Rank', 'Price'],
      dtype='object')

## Rename all columns

In [12]:
data.columns = ['Date', 'Region ID', 'Region Name', 'State',
             'City', 'County', 'Size Rank','Price']